.recommendations-wrap{
	position: relative;
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;

	.recommendations{
		width: 800px;
		.reco-head{
			display: flex;
			justify-content: space-between;
			.reco-btn{
				float: right;
				padding-top: 5px;
				padding-right: 0px;
				span{
					cursor: pointer;
					font-size: 20px;
					display: flex;
					color: #40404c;
					p{
						font-size: 14px;
						margin-left: 8px
					}
					&:hover{
						color: #f86442;
					}
				}
			}
			h2{
				font-family: PingFangSC-Medium;
				font-size: 20px;
				font-weight: 400;
				line-height: 1.4;
				color: #40404c;
				letter-spacing: 0;
				position: relative;
				padding-left: 16px;
				display: inline-block;
				&::before{
					content: '';
					position: absolute;
					display: inline-block;
					width: 5px;
					height: 15px;
					left: 0;
					top: 6px;
					border-radius: 6px;
					background-color: #f86442;
				}
				margin-bottom: 20px;
			}
		}
		.reco-container{
			display: flex;
			justify-content: space-between;

			.image-list{
				list-style-type: none; /* 移除默认的项目符号 */
				width: 800px;
				display: flex; /* 使用 Flexbox 布局 */
				flex-wrap: wrap; /* 允许项目换行 */
				justify-content: space-between; /* 项目之间的间距 */
				.item{
					text-align: -webkit-match-parent;
					.all-wrap{
						height: 190px;
						width: 140px;
						.image-div{
							height: 140px;
							position: relative;
							&:hover img{
								transform: scale(1.1);
							}
							&:hover .zantingjian{
								transform: translate(-50%, -50%) scale(1.1);
							}
							img{
								width: 100%;
								height: 100%;
								line-height: 140px;
								border-radius: 4px;
								transition: transform 0.3s ease;

							}
							.zantingjian{
								display: none;
								position: absolute;
								top: 50%;
								left: 50%;
								z-index: 200;
								width: 54px;
								height: 54px;
								background-repeat: no-repeat;
								background-size: 100%;
								transform: translate(-50%, -50%);
								transition: none;
							}
							.kaishijian{
								z-index: 100;
							}

							span{
								font-size: 12px;
								position: absolute; /* 绝对定位 */
								bottom: 0; /* 底部对齐 */
								right: 0; /* 右部对齐 */
								padding: 5px; /* 添加一些内边距 */
								background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
								color: white; /* 文本颜色 */
								font-size: 12px; /* 文本大小 */
								border-radius: 3px; /* 圆角 */
							}
						}

						.title-div{
							overflow: hidden; /* 隐藏溢出的文本 */
							white-space: nowrap; /* 防止文本自动换行 */
							text-overflow: ellipsis; /* 显示省略号 */
							font-weight: bold;
							font-size: 14px;
							display: block;
							max-width: 100%;
							max-height: 40px;
							margin: 6px 0 3px;
							text-align: justify;
							color: #40404c;
						}

						.author-div{
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
							display: inline-block;
							max-width: 100%;
							font-size: 14px;
							line-height: 1.4;
							color: #a3a3ac;
						}
					}
				}
			}
		}
	}
}

.youshengshu-wrap{
	position: relative;
	background-color: #fff;
	margin-top: 20px;
	.youshengshu{
		width: 800px;
		.you-head{
			height: 28px;
			display: flex;
			align-items: center; /* 垂直居中对齐 */
			justify-content: flex-start; /* 水平起始对齐 */
			margin-bottom: 20px;
			.you-btn{
				margin-left: auto;
				padding-top: 5px;
				padding-right: 0px;
				span{
					cursor: pointer;
					font-size: 20px;
					display: flex;
					color: #a0a0a0;
					p{
						font-size: 14px;
						margin-left: 8px
					}
					&:hover{
						color: #f86442;
					}
				}
			}

			h2{
				font-family: PingFangSC-Medium;
				font-size: 20px;
				font-weight: 400;
				line-height: 1.4;
				color: #40404c;
				letter-spacing: 0;
				position: relative;
				padding-left: 16px;
				display: inline-block;
				&::before{
					content: '';
					position: absolute;
					display: inline-block;
					width: 5px;
					height: 15px;
					left: 0;
					top: 6px;
					border-radius: 6px;
					background-color: #f86442;
				}
			}
			.you-nav-wrap{
				display: flex; /* 使用flex布局 */
				align-items: center; /* 垂直居中对齐 */
				justify-content: center;
				flex-wrap: nowrap; /* 防止flex项目换行 */

				.you-nav{
					margin-left: 20px;
					color: #40404c;
					background-color: transparent;
					text-decoration: none;
					outline: 0;
					cursor: pointer;
					font-family: PingFangSC-Regular;
					font-size: 12px;
					&:hover{
						color: #f86442;
					}
				}
				
			}
		}

		.you-container{
			display: flex;
			justify-content: space-between;

			.image-list{
				list-style-type: none; /* 移除默认的项目符号 */
				width: 800px;
				display: flex; /* 使用 Flexbox 布局 */
				flex-wrap: wrap; /* 允许项目换行 */
				justify-content: space-between; /* 项目之间的间距 */
				.item{
					text-align: -webkit-match-parent;
					.all-wrap{
						height: 190px;
						width: 140px;
						margin-bottom: 20px;
						.image-div{
						height: 140px;
						position: relative;
						&:hover img{
							transform: scale(1.1);
						}
						&:hover .zantingjian{
							transform: translate(-50%, -50%) scale(1.1);
						}
						img{
							width: 100%;
							height: 100%;
							line-height: 140px;
							border-radius: 4px;
							transition: transform 0.3s ease;

						}
						.zantingjian{
							display: none;
							position: absolute;
							top: 50%;
							left: 50%;
							z-index: 200;
							width: 54px;
							height: 54px;
							background-repeat: no-repeat;
							background-size: 100%;
							transform: translate(-50%, -50%);
						}


							span{
								font-size: 12px;
								position: absolute; /* 绝对定位 */
								bottom: 0; /* 底部对齐 */
								right: 0; /* 右部对齐 */
								padding: 5px; /* 添加一些内边距 */
								background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
								color: white; /* 文本颜色 */
								font-size: 12px; /* 文本大小 */
								border-radius: 3px; /* 圆角 */
							}
						}

						.title-div{
							overflow: hidden; /* 隐藏溢出的文本 */
							white-space: nowrap; /* 防止文本自动换行 */
							text-overflow: ellipsis; /* 显示省略号 */
							font-weight: bold;
							font-size: 14px;
							display: block;
							max-width: 100%;
							max-height: 40px;
							margin: 6px 0 3px;
							text-align: justify;
							color: #40404c;
						}

						.author-div{
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
							display: inline-block;
							max-width: 100%;
							font-size: 14px;
							line-height: 1.4;
							color: #a3a3ac;
						}
					}
				}
			}
		}
	}
}